.section3{
    margin: 70px 0;
    padding-top: 120px;

    & >h3{
        color: #83888F;
        font-family: fraunces;
    }

    &__cards{
        display: flex;
        margin-top: 80px;

        &__card1{
            border-top: #2C343E 2px solid;
            padding-right: 120px;

            & >p:nth-child(1){
                font-size: 50px;
                font-family: fraunces;
                color: #FDD6BA;
            }

            & >h3{
                font-family: fraunces;
                font-size: 32px;
                width: 190px;
            }
        }

        &__card2{
            padding-right: 120px;

            & >p:nth-child(1){
                font-size: 50px;
                font-family: fraunces;
                color: #FDD6BA;
            }

            & >h3{
                font-family: fraunces;
                font-size: 32px;
            }
        }

        &__Pelement{
            position: relative;
            padding-top: 30px;

            &::after{
                content: "";
                width: 35px;
                height: 35px;
                background: url("../img/Oval.png") no-repeat;
                position: absolute;
                top: -15px;
            }

            &__text{
                line-height: 25px;
                color: #333D4B;
            }
        }
    }

    &__btn{
        @include commonBtn();
        border: none;

        &:hover{
            background-color: #66D2CF;
        }

        &:active{
            background-color: #E2DEDB;
        }
    }
}